{
  "presets": [["es2015", { "modules": false }]],
  "plugins": [
    [
      "component",
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      }
    ]
  ],
  "plugins": [
    ["transform-object-rest-spread", { "useBuiltIns": true }]
  ]
}