@font-face {
  font-family: "xzl-font";
  src: url('../font/xzl-font.eot?t=1481617377825');
  /* IE9*/
  src: url('../font/xzl-font.eot?t=1481617377825#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../font/xzl-font.woff?t=1481617377825') format('woff'), /* chrome, firefox */ url('../font/xzl-font.ttf?t=1481617377825') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('../font/xzl-font.svg?t=1481617377825#iconfont') format('svg');
  /* iOS 4.1- */
}
.xzlicon-font {
  font-family: "xzl-font" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.xzliconz-arrowright:before {
  content: "\e817";
}
.xzliconz-appreciate:before {
  content: "\e644";
}
.xzliconz-check:before {
  content: "\e645";
}
.xzliconz-close:before {
  content: "\e646";
}
.xzliconz-edit:before {
  content: "\e649";
}
.xzliconz-emoji:before {
  content: "\e64a";
}
.xzliconz-favorfill:before {
  content: "\e64b";
}
.xzliconz-favor:before {
  content: "\e64c";
}
.xzliconz-loading:before {
  content: "\e64f";
}
.xzliconz-locationfill:before {
  content: "\e650";
}
.xzliconz-location:before {
  content: "\e651";
}
.xzliconz-phone:before {
  content: "\e652";
}
.xzliconz-roundcheckfill:before {
  content: "\e656";
}
.xzliconz-roundcheck:before {
  content: "\e657";
}
.xzliconz-roundclosefill:before {
  content: "\e658";
}
.xzliconz-roundclose:before {
  content: "\e659";
}
.xzliconz-roundrightfill:before {
  content: "\e65a";
}
.xzliconz-roundright:before {
  content: "\e65b";
}
.xzliconz-search:before {
  content: "\e65c";
}
.xzliconz-taxi:before {
  content: "\e65d";
}
.xzliconz-timefill:before {
  content: "\e65e";
}
.xzliconz-time:before {
  content: "\e65f";
}
.xzliconz-unfold:before {
  content: "\e661";
}
.xzliconz-warnfill:before {
  content: "\e662";
}
.xzliconz-warn:before {
  content: "\e663";
}
.xzliconz-camerafill:before {
  content: "\e664";
}
.xzliconz-camera:before {
  content: "\e665";
}
.xzliconz-commentfill:before {
  content: "\e666";
}
.xzliconz-comment:before {
  content: "\e667";
}
.xzliconz-likefill:before {
  content: "\e668";
}
.xzliconz-like:before {
  content: "\e669";
}
.xzliconz-notificationfill:before {
  content: "\e66a";
}
.xzliconz-notification:before {
  content: "\e66b";
}
.xzliconz-order:before {
  content: "\e66c";
}
.xzliconz-samefill:before {
  content: "\e66d";
}
.xzliconz-same:before {
  content: "\e66e";
}
.xzliconz-deliver:before {
  content: "\e671";
}
.xzliconz-evaluate:before {
  content: "\e672";
}
.xzliconz-pay:before {
  content: "\e673";
}
.xzliconz-send:before {
  content: "\e675";
}
.xzliconz-shop:before {
  content: "\e676";
}
.xzliconz-ticket:before {
  content: "\e677";
}
.xzliconz-wang:before {
  content: "\e678";
}
.xzliconz-back:before {
  content: "\e679";
}
.xzliconz-cascades:before {
  content: "\e67c";
}
.xzliconz-discover:before {
  content: "\e67e";
}
.xzliconz-list:before {
  content: "\e682";
}
.xzliconz-more:before {
  content: "\e684";
}
.xzliconz-scan:before {
  content: "\e689";
}
.xzliconz-settings:before {
  content: "\e68a";
}
.xzliconz-questionfill:before {
  content: "\e690";
}
.xzliconz-question:before {
  content: "\e691";
}
.xzliconz-shopfill:before {
  content: "\e697";
}
.xzliconz-form:before {
  content: "\e699";
}
.xzliconz-wangfill:before {
  content: "\e69a";
}
.xzliconz-pic:before {
  content: "\e69b";
}
.xzliconz-filter:before {
  content: "\e69c";
}
.xzliconz-footprint:before {
  content: "\e69d";
}
.xzliconz-top:before {
  content: "\e69e";
}
.xzliconz-pulldown:before {
  content: "\e69f";
}
.xzliconz-pullup:before {
  content: "\e6a0";
}
.xzliconz-right:before {
  content: "\e6a3";
}
.xzliconz-refresh:before {
  content: "\e6a4";
}
.xzliconz-moreandroid:before {
  content: "\e6a5";
}
.xzliconz-deletefill:before {
  content: "\e6a6";
}
.xzliconz-refund:before {
  content: "\e6ac";
}
.xzliconz-cart:before {
  content: "\e6af";
}
.xzliconz-qrcode:before {
  content: "\e6b0";
}
.xzliconz-remind:before {
  content: "\e6b2";
}
.xzliconz-delete:before {
  content: "\e6b4";
}
.xzliconz-profile:before {
  content: "\e6b7";
}
.xzliconz-home:before {
  content: "\e6b8";
}
.xzliconz-cartfill:before {
  content: "\e6b9";
}
.xzliconz-discoverfill:before {
  content: "\e6ba";
}
.xzliconz-homefill:before {
  content: "\e6bb";
}
.xzliconz-message:before {
  content: "\e6bc";
}
.xzliconz-addressbook:before {
  content: "\e6bd";
}
.xzliconz-link:before {
  content: "\e6bf";
}
.xzliconz-lock:before {
  content: "\e6c0";
}
.xzliconz-unlock:before {
  content: "\e6c2";
}
.xzliconz-vip:before {
  content: "\e6c3";
}
.xzliconz-weibo:before {
  content: "\e6c4";
}
.xzliconz-activity:before {
  content: "\e6c5";
}
.xzliconz-big:before {
  content: "\e6c7";
}
.xzliconz-friendaddfill:before {
  content: "\e6c9";
}
.xzliconz-friendadd:before {
  content: "\e6ca";
}
.xzliconz-friendfamous:before {
  content: "\e6cb";
}
.xzliconz-friend:before {
  content: "\e6cc";
}
.xzliconz-goods:before {
  content: "\e6cd";
}
.xzliconz-selection:before {
  content: "\e6ce";
}
.xzliconz-tmall:before {
  content: "\e6cf";
}
.xzliconz-explore:before {
  content: "\e6d2";
}
.xzliconz-present:before {
  content: "\e6d3";
}
.xzliconz-squarecheckfill:before {
  content: "\e6d4";
}
.xzliconz-square:before {
  content: "\e6d5";
}
.xzliconz-squarecheck:before {
  content: "\e6d6";
}
.xzliconz-round:before {
  content: "\e6d7";
}
.xzliconz-roundaddfill:before {
  content: "\e6d8";
}
.xzliconz-roundadd:before {
  content: "\e6d9";
}
.xzliconz-add:before {
  content: "\e6da";
}
.xzliconz-notificationforbidfill:before {
  content: "\e6db";
}
.xzliconz-explorefill:before {
  content: "\e6dd";
}
.xzliconz-fold:before {
  content: "\e6de";
}
.xzliconz-game:before {
  content: "\e6df";
}
.xzliconz-redpacket:before {
  content: "\e6e0";
}
.xzliconz-selectionfill:before {
  content: "\e6e1";
}
.xzliconz-similar:before {
  content: "\e6e2";
}
.xzliconz-appreciatefill:before {
  content: "\e6e3";
}
.xzliconz-infofill:before {
  content: "\e6e4";
}
.xzliconz-info:before {
  content: "\e6e5";
}
.xzliconz-forwardfill:before {
  content: "\e6ea";
}
.xzliconz-forward:before {
  content: "\e6eb";
}
.xzliconz-rechargefill:before {
  content: "\e6ec";
}
.xzliconz-recharge:before {
  content: "\e6ed";
}
.xzliconz-vipcard:before {
  content: "\e6ee";
}
.xzliconz-voice:before {
  content: "\e6ef";
}
.xzliconz-voicefill:before {
  content: "\e6f0";
}
.xzliconz-friendfavor:before {
  content: "\e6f1";
}
.xzliconz-wifi:before {
  content: "\e6f2";
}
.xzliconz-share:before {
  content: "\e6f3";
}
.xzliconz-wefill:before {
  content: "\e6f4";
}
.xzliconz-we:before {
  content: "\e6f5";
}
.xzliconz-lightauto:before {
  content: "\e6f6";
}
.xzliconz-lightforbid:before {
  content: "\e6f7";
}
.xzliconz-lightfill:before {
  content: "\e6f8";
}
.xzliconz-camerarotate:before {
  content: "\e6f9";
}
.xzliconz-light:before {
  content: "\e6fa";
}
.xzliconz-barcode:before {
  content: "\e6fb";
}
.xzliconz-flashlightclose:before {
  content: "\e6fc";
}
.xzliconz-flashlightopen:before {
  content: "\e6fd";
}
.xzliconz-searchlist:before {
  content: "\e6fe";
}
.xzliconz-service:before {
  content: "\e6ff";
}
.xzliconz-sort:before {
  content: "\e700";
}
.xzliconz-down:before {
  content: "\e703";
}
.xzliconz-mobile:before {
  content: "\e704";
}
.xzliconz-mobilefill:before {
  content: "\e705";
}
.xzliconz-copy:before {
  content: "\e706";
}
.xzliconz-countdownfill:before {
  content: "\e707";
}
.xzliconz-countdown:before {
  content: "\e708";
}
.xzliconz-noticefill:before {
  content: "\e709";
}
.xzliconz-notice:before {
  content: "\e70a";
}
.xzliconz-upstagefill:before {
  content: "\e70e";
}
.xzliconz-upstage:before {
  content: "\e70f";
}
.xzliconz-babyfill:before {
  content: "\e710";
}
.xzliconz-baby:before {
  content: "\e711";
}
.xzliconz-choicenessfill:before {
  content: "\e714";
}
.xzliconz-choiceness:before {
  content: "\e715";
}
.xzliconz-clothesfill:before {
  content: "\e716";
}
.xzliconz-clothes:before {
  content: "\e717";
}
.xzliconz-creativefill:before {
  content: "\e718";
}
.xzliconz-creative:before {
  content: "\e719";
}
.xzliconz-female:before {
  content: "\e71a";
}
.xzliconz-keyboard:before {
  content: "\e71b";
}
.xzliconz-male:before {
  content: "\e71c";
}
.xzliconz-newfill:before {
  content: "\e71d";
}
.xzliconz-new:before {
  content: "\e71e";
}
.xzliconz-pullleft:before {
  content: "\e71f";
}
.xzliconz-pullright:before {
  content: "\e720";
}
.xzliconz-rankfill:before {
  content: "\e721";
}
.xzliconz-rank:before {
  content: "\e722";
}
.xzliconz-bad:before {
  content: "\e723";
}
.xzliconz-cameraadd:before {
  content: "\e724";
}
.xzliconz-focus:before {
  content: "\e725";
}
.xzliconz-friendfill:before {
  content: "\e726";
}
.xzliconz-cameraaddfill:before {
  content: "\e727";
}
.xzliconz-apps:before {
  content: "\e729";
}
.xzliconz-paintfill:before {
  content: "\e72a";
}
.xzliconz-paint:before {
  content: "\e72b";
}
.xzliconz-picfill:before {
  content: "\e72c";
}
.xzliconz-refresharrow:before {
  content: "\e72d";
}
.xzliconz-markfill:before {
  content: "\e730";
}
.xzliconz-mark:before {
  content: "\e731";
}
.xzliconz-presentfill:before {
  content: "\e732";
}
.xzliconz-repeal:before {
  content: "\e733";
}
.xzliconz-album:before {
  content: "\e734";
}
.xzliconz-peoplefill:before {
  content: "\e735";
}
.xzliconz-people:before {
  content: "\e736";
}
.xzliconz-servicefill:before {
  content: "\e737";
}
.xzliconz-repair:before {
  content: "\e738";
}
.xzliconz-file:before {
  content: "\e739";
}
.xzliconz-repairfill:before {
  content: "\e73a";
}
.xzliconz-taoxiaopu:before {
  content: "\e73b";
}
.xzliconz-attentionfill:before {
  content: "\e73c";
}
.xzliconz-attention:before {
  content: "\e73d";
}
.xzliconz-commandfill:before {
  content: "\e73e";
}
.xzliconz-command:before {
  content: "\e73f";
}
.xzliconz-communityfill:before {
  content: "\e740";
}
.xzliconz-community:before {
  content: "\e741";
}
.xzliconz-read:before {
  content: "\e742";
}
.xzliconz-calendar:before {
  content: "\e74a";
}
.xzliconz-cut:before {
  content: "\e74b";
}
.xzliconz-magic:before {
  content: "\e74c";
}
.xzliconz-backwardfill:before {
  content: "\e74d";
}
.xzliconz-forwardfill1:before {
  content: "\e74e";
}
.xzliconz-playfill:before {
  content: "\e74f";
}
.xzliconz-stop:before {
  content: "\e750";
}
.xzliconz-tagfill:before {
  content: "\e751";
}
.xzliconz-tag:before {
  content: "\e752";
}
.xzliconz-group:before {
  content: "\e753";
}
.xzliconz-all:before {
  content: "\e755";
}
.xzliconz-backdelete:before {
  content: "\e756";
}
.xzliconz-hotfill:before {
  content: "\e757";
}
.xzliconz-hot:before {
  content: "\e758";
}
.xzliconz-post:before {
  content: "\e759";
}
.xzliconz-radiobox:before {
  content: "\e75b";
}
.xzliconz-rounddown:before {
  content: "\e75c";
}
.xzliconz-upload:before {
  content: "\e75d";
}
.xzliconz-writefill:before {
  content: "\e760";
}
.xzliconz-write:before {
  content: "\e761";
}
.xzliconz-radioboxfill:before {
  content: "\e763";
}
.xzliconz-punch:before {
  content: "\e764";
}
.xzliconz-shake:before {
  content: "\e765";
}
.xzliconz-add1:before {
  content: "\e767";
}
.xzliconz-move:before {
  content: "\e768";
}
.xzliconz-safe:before {
  content: "\e769";
}
.xzliconz-ye:before {
  content: "\e770";
}
.xzliconz-activityfill:before {
  content: "\e775";
}
.xzliconz-crownfill:before {
  content: "\e776";
}
.xzliconz-crown:before {
  content: "\e777";
}
.xzliconz-goodsfill:before {
  content: "\e778";
}
.xzliconz-messagefill:before {
  content: "\e779";
}
.xzliconz-profilefill:before {
  content: "\e77a";
}
.xzliconz-sound:before {
  content: "\e77b";
}
.xzliconz-sponsorfill:before {
  content: "\e77c";
}
.xzliconz-sponsor:before {
  content: "\e77d";
}
.xzliconz-upblock:before {
  content: "\e77e";
}
.xzliconz-weblock:before {
  content: "\e77f";
}
.xzliconz-weunblock:before {
  content: "\e780";
}
.xzliconz-my:before {
  content: "\e78b";
}
.xzliconz-myfill:before {
  content: "\e78c";
}
.xzliconz-emojifill:before {
  content: "\e78d";
}
.xzliconz-emojiflashfill:before {
  content: "\e78e";
}
.xzliconz-flashbuyfill-copy:before {
  content: "\e78f";
}
.xzliconz-text:before {
  content: "\e791";
}
.xzliconz-goodsfavor:before {
  content: "\e794";
}
.xzliconz-musicfill:before {
  content: "\e795";
}
.xzliconz-musicforbidfill:before {
  content: "\e796";
}
.xzliconz-roundleftfill:before {
  content: "\e799";
}
.xzliconz-triangledownfill:before {
  content: "\e79b";
}
.xzliconz-triangleupfill:before {
  content: "\e79c";
}
.xzliconz-roundleftfill-copy:before {
  content: "\e79e";
}
.xzliconz-pulldown1:before {
  content: "\e79f";
}
.xzliconz-appreciatelight:before {
  content: "\e7a0";
}
.xzliconz-emojilight:before {
  content: "\e7a1";
}
.xzliconz-goodslight:before {
  content: "\e7a2";
}
.xzliconz-keyboardlight:before {
  content: "\e7a3";
}
.xzliconz-recordfill:before {
  content: "\e7a4";
}
.xzliconz-recordlight:before {
  content: "\e7a5";
}
.xzliconz-record:before {
  content: "\e7a6";
}
.xzliconz-roundaddlight:before {
  content: "\e7a7";
}
.xzliconz-soundlight:before {
  content: "\e7a8";
}
.xzliconz-cardboardfill:before {
  content: "\e7a9";
}
.xzliconz-cardboard:before {
  content: "\e7aa";
}
.xzliconz-formfill:before {
  content: "\e7ab";
}
.xzliconz-coin:before {
  content: "\e7ac";
}
.xzliconz-sortlight:before {
  content: "\e7ad";
}
.xzliconz-circlefill:before {
  content: "\e7b0";
}
.xzliconz-circle:before {
  content: "\e7b1";
}
.xzliconz-attentionforbid:before {
  content: "\e7b2";
}
.xzliconz-attentionforbidfill:before {
  content: "\e7b3";
}
.xzliconz-attentionfavorfill:before {
  content: "\e7b4";
}
.xzliconz-attentionfavor:before {
  content: "\e7b5";
}
.xzliconz-profilelight:before {
  content: "\e7b6";
}
.xzliconz-piclight:before {
  content: "\e7b7";
}
.xzliconz-shoplight:before {
  content: "\e7b8";
}
.xzliconz-voicelight:before {
  content: "\e7b9";
}
.xzliconz-attentionfavorfill-copy:before {
  content: "\e7ba";
}
.xzliconz-cameralight:before {
  content: "\e7bb";
}
.xzliconz-full:before {
  content: "\e7bc";
}
.xzliconz-mail:before {
  content: "\e7bd";
}
.xzliconz-peoplelist:before {
  content: "\e7be";
}
.xzliconz-goodsnewfill:before {
  content: "\e7bf";
}
.xzliconz-goodsnew:before {
  content: "\e7c0";
}
.xzliconz-medalfill:before {
  content: "\e7c1";
}
.xzliconz-medal:before {
  content: "\e7c2";
}
.xzliconz-newsfill:before {
  content: "\e7c3";
}
.xzliconz-newshotfill:before {
  content: "\e7c4";
}
.xzliconz-newshot:before {
  content: "\e7c5";
}
.xzliconz-news:before {
  content: "\e7c6";
}
.xzliconz-videofill:before {
  content: "\e7c7";
}
.xzliconz-video:before {
  content: "\e7c8";
}
.xzliconz-askfill:before {
  content: "\e7c9";
}
.xzliconz-ask:before {
  content: "\e7ca";
}
.xzliconz-exit:before {
  content: "\e7cb";
}
.xzliconz-skinfill:before {
  content: "\e7cc";
}
.xzliconz-skin:before {
  content: "\e7cd";
}
.xzliconz-moneybagfill:before {
  content: "\e7ce";
}
.xzliconz-usefullfill:before {
  content: "\e7cf";
}
.xzliconz-usefull:before {
  content: "\e7d0";
}
.xzliconz-moneybag:before {
  content: "\e7d1";
}
.xzliconz-redpacket_fill:before {
  content: "\e7d3";
}
.xzliconz-subscription:before {
  content: "\e7d4";
}
.xzliconz-jiantouxia:before {
  content: "\e7d9";
}
.xzliconz-tizhong:before {
  content: "\e7da";
}
.xzliconz-zaocan:before {
  content: "\e7db";
}
.xzliconz-wucan:before {
  content: "\e7dc";
}
.xzliconz-wancan:before {
  content: "\e7dd";
}
.xzliconz-shengao:before {
  content: "\e7de";
}
/*# sourceMappingURL=fonticon.css.map */